
#creating frontend for proxy
frontend {{ frontend_name }}

#Change mode http and it works as a round robin, default is tcp
   #mode http 

# from which interfaces will frontend for proxy work
   bind 0.0.0.0:{{ proxy_port }}

#how long to wait before disconnect TCP if client do nothing
   timeout client {{ timeout_client }}

#connect backend to frontend
   default_backend {{ backend_name }}


#######################################

#creating backend for proxy
backend {{ backend_name }}

#change mode to http cause our fronend works on http to avoid mix of modes
   #mode http

#time trying to connect to the server
   timeout connect {{ timeout_connect }}

#time to wair response from the server
   timeout server {{ timeout_server }}

#balance modes (roundrobin, leastconn, source). default=roundrobin
   #balance roundrobin

# name of the servers
   #server <server_name> <server_ip>:<server_port> -- example 
